brands/**/dist/
brands/**/CHANGELOG.md
components/**/dist/
website/**/dist/
website/**/.next/
components/**/cypress/
components/**/CHANGELOG.md
.docz/
docs/
GEL.json
components/core/blender/jquery.js
coverage/*
dynamic-blocks-demos.js
website-backend/admin/component-blocks/code-examples-data.ts

# Yarn manages this itself
**/package.json
