version: 2
jobs:
  test:
    docker:
      - image: circleci/node:stable

    steps:
      - checkout
      - run: sudo apt-get install tree
      - run: rm -rf node_modules
      - run: tree -C
      - run: yarn global add bolt
      - run: bolt
      - run: bolt test


  # # DEPLOY-STAGING JOB
  # deploy-staging:
  #   docker:
  #     - image: circleci/node:latest

  #   steps:
  #     - checkout
  #     - run: rm -rf node_modules
  #     - run: bolt
  #     - run: bolt build
  #     # - run: deploy to server

  # # DEPLOY-PRODUCTION JOB
  # deploy-production:
  #   docker:
  #     - image: circleci/node:latest

  #   steps:
  #     - checkout
  #     - run: rm -rf node_modules
  #     - run: bolt
  #     - run: bolt build
  #     # - run: deploy to server


# OUR WORKFLOW
# this is where we orchestrate our jobs
workflows:
  version: 2
  testing:
    jobs:
      # - deploy-staging:
      #     filters:
      #       branches:
      #         only: develop

      # - deploy-prod:
      #     filters:
      #       branches:
      #         only: master
